.spaced li {
  margin:0 0 10px 0;
}

.shadow {
  box-shadow:0 14px 20px 0 rgba(0,0,0,0.2),0 10px 24px 0 rgba(0,0,0,0.19) !important;
}

/*#gp-logo img {
    height: 200px;
    min-height: 150px;
    width: 200px;
    min-width: 200px;
    margin-left: 150px;
}*/

.reveal h3 {
    color: red;
    font-family: "Righteous Heavy", "Righteous Medium", "Righteous", sans-serif;
    text-transform: none;
    margin: 0 0 35px 0;
    line-height: 120%;
    text-shadow: none;
    letter-spacing: normal;
    word-wrap: break-word;
}

#title {
    color: #2C9096;
    font-family: "Righteous Heavy", "Righteous Medium", "Righteous", sans-serif;
}

.reveal h5{
    color: #E27924;
}

.hljs-comment {
    color: #2C9096
}

.hljs {
    color: #4271AE
}

.reveal blockquote {
    margin-top:60px;
    border-left: 5px solid #E27924;
    background-color: rgba(0,0,0,.02);
    word-spacing: 0.5em;
}

.reveal pre {
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
	padding: 20px;
	margin-top:60px;
	margin-bottom:40px;
}

.reveal p {
	line-height: 150%;
}
