.spaced li {
  margin:0 0 10px 0;
}

.shadow {
  box-shadow:0 14px 20px 0 rgba(0,0,0,0.2),0 10px 24px 0 rgba(0,0,0,0.19) !important;
}

#gp-logo img {
    height: 200px;
    min-height: 150px;
    width: 200px;
    min-width: 200px;
}

.reveal h3 {
    color: #E27924;
    font-family: "Righteous Heavy", "Righteous Medium", "Righteous", sans-serif;
    text-transform: none;
    margin: 0 0 15px 0;
    line-height: 120%;
    text-shadow: none;
    letter-spacing: normal;
    word-wrap: break-word;
}