.spaced li {
  margin:0 0 10px 0;
}

.shadow {
  box-shadow:0 14px 20px 0 rgba(0,0,0,0.2),0 10px 24px 0 rgba(0,0,0,0.19) !important;
}

/*#gp-logo img {
    height: 200px;
    min-height: 150px;
    width: 200px;
    min-width: 200px;
    margin-left: 150px;
}*/

.reveal h3 {
    color: red;
    font-family: "Righteous Heavy", "Righteous Medium", "Righteous", sans-serif;
    text-transform: none;
    margin: 0 0 35px 0;
    line-height: 120%;
    text-shadow: none;
    letter-spacing: normal;
    word-wrap: break-word;
}

#title {
    color: #2C9096;
    font-family: "Righteous Heavy", "Righteous Medium", "Righteous", sans-serif;
}

.line {
    background-color: #FCFCBF;
}

.reveal h5{
    color: #E27924;
}

.reveal h6 {
    margin: 80px 0px 30px 0px;
}

.hljs-comment {
    color: #E27924;
}

.hljs {
    color: #4271AE;
}

.reveal blockquote {
    margin-top:60px;
    border-left: 5px solid #E27924;
    background-color: rgba(0,0,0,.02);
    word-spacing: 0.5em;
}

.reveal .meaning {
    display: block;
    position: relative;
    width: 100%;
    margin: 60px auto 15px auto;
    padding: 5px;
    font-style: italic;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    border-left: 5px solid #E27924;
    word-spacing: 0.5em;
}

/*.meaning ul {
  list-style: none;
}*/

blockquote {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 auto 15px auto;
    padding: 5px;
    font-style: italic;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}

.reveal pre {
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
	padding: 20px;
	margin-top:60px;
	margin-bottom:40px;
    background-color: #FCFCBF;
}

.reveal pre code {
    padding: 0px;
}

.reveal p {
	line-height: 150%;
}
